<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Not so long ago I used to believe that life would be simple. That was because in childhood you can easily ask your parents if you want or need something, and you dont realize that when you will be an adult, you'll have to work to get it. Life is really easy when you are a child.

I think that it's a quite common misbelief, because I know a lot of people who are in 10 or 11th grade, and they still dont think about their future and dont take their life seriously, they dont know what they like and where they will go after school.

Also, studying for me was quite simple for first years of school, I always had good marks. I also used to believe that it would always be that simple.

I changed my mind when studying became a lot harder, and my parents and teachers started telling me about future life, about my choice of profession. At this age you are taking control of your life, and starting to make some difficult decisions. And gradually I started realizing that life is not that simple.
</body>
</html>